/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a, input, textarea, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

/* Nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 100px;
    color: white;
}

.user {
    display: flex;
}

.user > h2 {
    margin-right: 50px;
}

.user > button {
    margin-right: 50px;
    padding: 0.6rem;
}

.user > form > button {
    margin-right: 50px;
    padding: 0.6rem;
}

/* Item detail */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin-top: 150px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productImg {
    width: 200px;
    height: auto;
}

.detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.detail > * {
    margin: 2rem;
}

.detail > h2 {
    font-size: 20px;
}

.detail > h3 {
    font-size: 20px;
}

.paginate {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

/* Login */

.login {
    width: 500px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.login > h1 {
    margin: 1rem;
}

.login > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login > form > * {
    margin: 0.4rem;
}

.login > form > input {
    padding: 0.5rem;
}

.login > form > .form-buttons > button {
    padding: 0.6rem;
    margin: 1rem;
}

/* Register */

.register {
    width: 500px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.register > h1 {
    margin: 1rem;
}

.register > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register > form > * {
    margin: 0.4rem;
}

.register > form > input {
    padding: 0.5rem;
}

.register > form > button {
    padding: 0.6rem;
    margin: 1rem;
}

/* Restore password */

.restore-password {
    width: 500px;
    height: auto;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.restore-password > h1 {
    margin: 1rem;
}

.restore-password > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restore-password > form > * {
    margin: 0.4rem;
}

.restore-password > form > input {
    padding: 0.5rem;
}

.restore-password > form > button {
    padding: 0.6rem;
    margin: 1rem;
}
