<div class="restore-password">
    <h1>Restaurar contraseña</h1>
    <form action="/api/sessions/restore-password" method="post"> 
        <label>Email:</label><input type="email" name="email">
        <label>Contraseña:</label><input type="password" name="password">
        <button>Restaurar</button>
    </form>
    {{#if samePassword}}
        <p style="color: red;">No puedes usar tu contraseña actual!</p>
    {{/if}}
</div>